@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Orbitron:wght@400..900&display=swap");

body {
  font-family: "Orbitron", sans-serif;
  background-color: #0b0e14;
  color: #b0fbff;
  text-align: center;
  padding: 2% 5%;
}

h1 {
  color: #ff0055;
}

button,
input {
  color: #ff0055;
  background-color: #0b0e14;
  border: 1px solid #00f5ff;
  border-radius: 5px;
  width: 10em;
  height: 2em;
  margin: 1.5em 3em 3em 3em;
}

button:hover {
  background-color: #7000ff;
  cursor: pointer;
}

input::placeholder {
  color: #ff0055;
  text-align: center;
}

#cartelle {
  text-align: center;
}

#cartelle input {
  margin: 0 1.5em 1em 0;
  width: 13em;
}

#cartelle button {
  margin: 0 1.5em 1em 0;
  width: 13em;
}

#tabellaHTML {
  width: 80%;
  margin: 1em auto;
  text-align: start;
}

#tabellaHTML div {
  font-weight: bold;
  font-size: larger;
  display: inline-block;
  width: 10%;
  height: 3em;
  text-align: center;
  line-height: 3em;
  border: 1px solid #00f5ff;
  vertical-align: middle;
}

#tabellaPlayer {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.singolaCartella {
  display: inline-block;
  width: 40%;
  margin: 1em;
  text-align: center;
}

.singolaCartella div div {
  display: inline-block;
  width: 12.5%;
  border: 1px solid #00f5ff;
  box-sizing: border-box;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.evidenziato {
  background-color: #00f7ff63;
  color: #ff0055;
}
